@font-face {
  font-family: 'sevenseg';
  src: url('../fonts/seven_segment.woff2') format('woff2'),
       url('../fonts/seven_segment.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

html, body {
  font-family: 'sevenseg', sans-serif;
}