@import 'fonts';
@import 'scanlines';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #191919;
  color: #0f0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 26vw;
  text-align: center;
  text-shadow: 0 0 0.5rem #0f0;

  a {
    color: inherit;
    text-decoration: none;
  }
}